.app_style {
  display: flex;
  padding: 100px;
  gap: 12px;
}
.box_style {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
